h1, h2, h3{
  color: #b30077;
}
body{
  background-color: #ffccee;
  color: #e60099;
  font-family: 'Raleway';
}
a{
  color: #ff00aa;
  text-decoration: none;
}
a:hover{
  color: #4d0033;
}

table tr{
  padding-bottom: 50px;
  display: inline-block;
}
table td{
  padding: 10px;
}
ul{
  margin-left: -40px;
  display: inline-block;

}
li{
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  padding-left: 0px;
}

#wrapper {

  width: 1532px;
  height: 994px;


}

#table{
  padding-bottom: 0px;
}
#button_border{
  padding:10px;
  border: dotted;
}
#left{
  float: left;
  background-color: #ffccee;
}
#right{
  float: right;
}

#wraper{
  align-content: center;
}
.container{
  width: 800px;
  margin: 0 auto;
}
.card{
  border: 2px solid;
  border-radius: 5px;
  padding: 30px;
  background-color: white;
  margin: 50px;
  width: 600px;
  text-align: center;
}
.image_circle{
  height: 200px;
  border-radius: 50%
}
.image_size{
  height: 200px;
}
.symboll {
  font-size: 50px;
}
.clear{
  clear: both;
}

.border-no-color {
border-bottom-color: white;
border-top-color: white;
}

.footer {

    background-color: white;
    /* width: 774vh; */
    width: 1427px;
    height: auto;
    border-radius: 5px;
    text-align: center;
    border-style: solid;
    margin-top: 20px;
    margin-left: 50px;
    border-width: 2px;
}

h1, h2, h3{
  color: #b30077;
}
body{
  background-color: #ffccee;
  color: #e60099;
  font-family: 'Raleway';
}
a{
  color: #ff00aa;
  text-decoration: none;
}
a:hover{
  color: #4d0033;
}

table tr{
  padding-bottom: 50px;
  display: inline-block;
}
table td{
  padding: 10px;
}
ul{
  margin-left: -40px;
  display: inline-block;

}
li{
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  padding-left: 0px;
}

#wrapper {

  width: 1532px;
  height: 994px;


}

#table{
  padding-bottom: 0px;
}
#button_border{
  padding:10px;
  border: dotted;
}
#left{
  float: left;
  background-color: #ffccee;
}
#right{
  float: right;
}

#wraper{
  align-content: center;
}
.container{
  width: 800px;
  margin: 0 auto;
}
.card{
  border: 2px solid;
  border-radius: 5px;
  padding: 30px;
  background-color: white;
  margin: 50px;
  width: 600px;
  text-align: center;
}
.image_circle{
  height: 200px;
  border-radius: 50%
}
.image_size{
  height: 200px;
}
.symboll {
  font-size: 50px;
}
.clear{
  clear: both;
}

.border-no-color {
border-bottom-color: white;
border-top-color: white;
}

.footer {

    background-color: white;
    /* width: 774vh; */
    width: 1427px;
    height: auto;
    border-radius: 5px;
    text-align: center;
    border-style: solid;
    margin-top: 20px;
    margin-left: 50px;
    border-width: 2px;
}

